@charset "utf-8";
*{margin:0px; padding:0px;}
body{
	font-family:tahoma;
	font-size:11px;
	color:#000;
}
a{
	background-color:inherit;
	text-decoration:none;
	outline:none;
	color:#014c8f;
}
a:hover{text-decoration:none}
img{border:0px}
ul{list-style-type:none;}
li{list-style-type:none;}


input{
	font-family:Tahoma, arial, sans-serif;
	font-size:11px;
}
textarea{
	font-family:Tahoma, arial, sans-serif;
	font-size:11px;
}
select{
	font-family:Tahoma, arial, sans-serif;
	font-size:11px;
}
.clearfix:after{
	content:'[DO NOT LEAVE IT IS NOT REAL]'; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.clearfix{
	display:inline;
	position:relative;
}
.clearfix{
	display:block;
}
.clear{
	clear:both;
	line-height:0;
	font-size:0;
}
/*lighbox*/
.left{
	float:left;
}
.right{
	float:right;
}
.txt_upercase{
	text-transform:uppercase;
}
.txt_center{
	text-align:center;
}
/* CSS Document */
.box_width_common{
	width:100%;
	float:left;
}
#wrappper_container{
	width:100%;
	float:left;
	background:#944d3c;
}
#wrapper_content{
}
#main_box_content{
	background:url(images/graphics/bg_boby.gif) left top;
	margin:20px auto 0 auto;
	width:990px;
	padding: 0 0 30px;
}
#main_box{
	width:868px;
	padding:15px 15px 0px 15px;
	float:left;
	background:#fdf9d1;
	margin:46px 46px 0 46px;
	position:relative;
}
.bor{
	width:100%;
	float:left;
	line-height:0;
	font-size:0;
	background:url(images/graphics/bg_bor_header_bottom.gif) no-repeat;
	height:20px;
}
.bor_top{
	background-position:0 0;
}
.bor_bottom{
	background-position:0 -20px;
}
.mid_content{
	width:100%;
	float:left;
	background:url(images/graphics/bg_mid_content.gif) repeat-y left top;
}
.fck_content{
	color:#531400;
	background:url(images/graphics/bg_fck_detail.gif) no-repeat center 80px;
}
.title_kinh{
	font:400 18px tahoma;
}
.title_kinh p{
	padding:0 0 10px;
}
.name_kinh{
	font:700 24px tahoma;
	margin:120px 0 70px 0;
}
.content_kinh{
	width:720px;
	margin:0 auto;
	text-align:justify;
	font:400 18px/30px tahoma;
	height:700px;
	overflow-y:scroll;
	padding:0 78px 0 80px;
}
#pagination{
	width:850px;
	float:left;
	padding:0 0 0 20px;
	text-align:center;
}
#pagination a{
	display:inline-block;
	height:42px;
	padding:0 0 0 6px;
	background:url(images/graphics/bg_pagination.gif) no-repeat left bottom;
}

#pagination  a span{
	display:inline-block;
	height:42px;
	padding:0 10px 0 4px;
	background:url(images/graphics/bg_pagination.gif) no-repeat right top;
	color:#531400;
	font:700 15px/42px tahoma;
	min-width:20px;
	text-align:center;
}
#pagination  a span.selected{			
	color:red;
}
#pagination li a:hover{
	text-decoration:none;
}
#bottom_box{
	background:#fdf9d1;
	padding:15px 0 0 0;
}

.btn_next_pre{
	display:inline-block;
	float:left;
	background:url(images/graphics/bg_next_pre_02.gif);
	width:32px;
	height:41px;
}
.btn_pre_pa{
	float:left;
	background-position:0 0;
	margin:0 0 0 10px;
}
.btn_next_pa{
	float:right;
	background-position:right 0;
	margin:0 10px 0 0;
}
#box_name_kinh{
	background:#a1673f;
	width:100%;
	float:left;
	padding:5px 0;
}
.icon_left{
	float:left;
	margin:0 0 0 70px;
}
.icon_right{
	float:right;
	margin:0 70px 0 0;
}
.name_kinh_bottom{
	width:750px;
	float:left;
	font:700 15px tahoma;
	color:#fffcd9;
}
.icon_next_pre{
	width:42px;
	height:43px;
	background:url(images/graphics/bg_next_pre_01.gif) no-repeat;
	display:inline-block;
	position:absolute;
	/*top:187px;*/
	top:50%;
}
.mid_content .next{
	right:-42px;
	background-position:right 0;
}

.mid_content .pre{
	left:-42px;
	background-position:0 0;
}
.float_item,.float_top_item{
	position:fixed;
}
.item_left{
	height:100%;
	width:30px;
	left:0;
	top:0;
	z-index:3;
}
.item_right{
	height:100%;
	width:30px;
	background:red;	
	right:0;
	top:0;
}
.item_top{
	width:100%;
	height:30px;
	background:#fff8b0;
	left:0;
	top:0;
	z-index:1;
	border-bottom:1px solid #ebd160;
}
.item_bottom{
	width:100%;
	height:30px;
	background:#fff8b0;	
	left:0;
	bottom:0;
	z-index:1;
		border-top:1px solid #ebd160;
}
.btn_control_float{
	position:absolute;
	right:0;
	top:50%;
	z-index:2;
}
.control_float_left{
	width:30px;
	height:100%;
	position:absolute;
	right:0;
	background:#FFF8B0
}
.float_content{
	float:left;
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.item_top .btn_control_float{
	left:50%;
	bottom:0;
	top:auto;
}
.item_bottom .btn_control_float{
	left:50%;
	top:0;
}
#siteMenuBar{
	width:195px;
	height:100%;
	float:left;
	padding:0 0 0 0px;
	
	background:none repeat scroll 0 0 #FFF8B0;
}
#menuContainer{
	background:none repeat scroll 0 0 #FFF8B0;
	padding:10px 0 0 10px;
	font:400 12px arial;
}
#menuContainer .mucluc{
	font:700 14px arial;
}
#menuContainer a:hover{
	text-decoration:none;
	font-weight:700;
}
#box_search{text-align:center;margin-bottom:10px}
#box_result{margin:20px;padding-bottom:20px;overflow-y:scroll;height:167px}
#box_search_top{margin:auto;width:500px;background-color:#FFF;padding-bottom:10px}
#form_search{padding:10px;border-bottom:1px solid red}
/*slide top*/
.block_search{
	width:700px;
	margin:0 auto;
	padding:10px 0;
}
.txt_input_search{
	color:#8d8d8d;
	padding:7px 5px;
	border-top:1px solid #c0c0c0;
	border-bottom:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	width:560px;
	float:left;
	margin:0 10px 0 0;
}
.btn_search{
	width:111px;
	height:30px;
	cursor:pointer;
	background:url(images/graphics/bg_btn_search.gif) no-repeat;
	line-height:0;
	font-size:0;
	border:none;
	float:left;
}
.block_content_float{
	width:990px;
	margin:0px auto 0 auto;
}
.borgoc{
	width:990px;
	float:left;
	height:4px;
	line-height:0;
	font-size:0;
	background:url(images/graphics/bg_bor_top_bottom_slide.gif)
}
.top_content{
	background-position:0 0;
}

.bottom_content{
	background-position:0 -4px;
}
.main_content_slide{
	background:#fdf9d1;
	width:947px;
	border-right:1px solid #ebd160;
	border-left:1px solid #ebd160;
	padding:2px;
	height:210px;
	padding:10px 20px;
	overflow:hidden;
	float:left;
}
.w230{
	width:230px;
}
.w700{
	width:700px;
}
.block_title{
	height:30px;
	border-top:1px solid #cdcbb0;
	background:#e9e7d1;
	color:#a1673f;
	font:700 15px/30px arial;
	width:100%;
	float:left;
}
.block_title p{
	padding:0 0 0 20px;
}
.menu_slide ul{
	width:100%;
	float:left;
	background:#eeeee5;
	padding:1px 0 0 0;
	bordet-top:1px solid #f9f9f9;
	margin:1px 0 0 0;
	display:inline;	
}
.menu_slide li a{
	width:210px;
	padding:0 0 0 20px;
	display:inline-block;
	float:left;
	height:28px;
	border-top:1px solid #f9f9f9;
	border-bottom:1px solid #cdcbb0;
	color:#333333;
	font:700 13px/28px arial;
}
.menu_slide li.active a {
	background:#a1673f url(images/graphics/bg_arrow_active.gif) no-repeat 210px 10px ;
	color:#fff;
}
.block_chose_date{
	margin:0 10px 0 0;
	padding:0 15px 0 0;
	background:url(images/graphics/bg_arrow_down.gif) no-repeat right 12px;
	font:700 13px/28px arial;
	color:#333;
}
.img_news{
	float:left;
	margin:0 10px 0 0;
	display:inline;
}
.item_news{
	padding:10px;
	border-bottom:1px solid #e9e9e0;
}
.block_content_news{
	background:#fff;
	height:180px;
	overflow:hidden;
}
.control_float{
	width:100%;
	background:#fff8b0;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
}
.title_news a{
	font:700 13px arial;
	color:#333;
}
.item_news p{
	padding-bottom:5px;
}
/*End slide top*/
#box_search{
	font:700 12px arial;
	color:#990033;
}
#box_search select{
	border:1px solid #EBD160;
	height:22px;
}
#box_search input{
	background:#fbcb50;
	color:#a01c1c;
	width:80px;
	padding:2px 20px;
	border:1px solid #c98206;
	cursor:pointer;
	font:700 11px arial;
	margin: 0 0 0 10px;
}
#idML_loc{
	display:inline;
	width:200px;	
}
.title_phapam{
	cursor:pointer	
}
#nut_hien_list{
	cursor:pointer;margin-top:10px;margin-bottom:10px;display:block;font-weight:bold;
}
.tab_control{
	width:100%;
	float:left;
	padding:10px 0 0 0;
	border-bottom:1px solid #944D3C;
}
.tab_control a{
	display:inline-block;
	float:left;
	padding:5px 10px;
	height:20px;
	font:400 12px/20px arial;
	border-bottom:1px solid #944D3C;
	background:#944D3C;
	margin:0 0 0 2px;
	color:#fff;
}
.tab_control a.active{
	background:none;
	border-bottom:none;
	color:brown;
	font:700 12px/20px arial;
}
.content_tab{
	overflow-y:scroll;
	width:195px;
	float:left;
	height: 570px;
}
.block_input_form{
	padding:5px 0 0 0;
}
.block_input_form input{
	height:20px;
	float:left;
	margin:0 0 0 60px;
	width:250px;
}
p.sach{color:blue;cursor:pointer;margin-bottom:7px;margin-top:7px;margin-left:10px;}
